.container-doctor {
    padding-top: 6rem;
    padding-left: 6rem;
    background-color: #290072;
}

.content-doctor {
    background-color: #ffffff;
    display: flex;
}

.form-content-doctor {
    background-color: #4c00aa;
    color: white;
    border-bottom-right-radius: 7rem;
    text-align: left;
    padding: 3rem 2.5rem;
    height: 40rem;
}

.logo-image-doctor {
    width: 5.5rem;
    height: auto;
    margin: 1rem 0 2.5rem 0;
}

.headings-doctor {
    padding-left: 3.5rem;
    margin-bottom: 2rem;
}

.form-container-doctor {
    padding-left: 3.5rem;
}

.remember-checkbox {
    padding-left: 9px;
    padding-bottom: 0.7rem;
    color: #00bbff;
}

.link-to-signup {
    padding-top: 0.8rem;
    text-align: left;
}